*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
  height: 3028px;
  width: 1100px;
  background-color: #fff;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

ul, ol{
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
}
