body{
width: 1100px;
height: 3028px;
margin: 0 auto;
}

header{
position: absolute;
width: 1100px;
height: 293px;
top:0px;
display: grid;
grid-template-columns: 1fr min-content 1fr;
align-items: center;
padding: 0 50px;
}

.logo-black{
width: 129px;
height: 104px;
justify-self: center;
}

.header__link-list{
display: flex;
gap:32px;
list-style: none;
margin: 0;
padding: 0;
}

.header__link-list-item{
text-decoration: underline;
list-style-type: circle;
}

.address{
max-width: 240px;
justify-self:end ;
font-style: normal;
font-size: 18px;
line-height: 24px;
}

.overlay{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: black;
opacity: 0.6;
z-index: 0;
}

.cover{
position: relative;
width: 1100px;
height: 757px;
top: 293px;
background-image: url(../images/cover.jpg);
background-size: cover;
background-position: center;
}

.cover_title{
position: relative;
height: 385px;
}

.span_ono{
position: absolute;
width: 286px;
height: 115px;
left: 50px;
top: 165px;
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 100px;
line-height: 115%;
letter-spacing: 0.3em;
text-transform: uppercase;
color: #FFFFFF;
}

.span_tebe{
position: absolute;
width: 339px;
height: 115px;
left: calc(50% - 339px/2);
top: 300px;
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 100px;
line-height: 115%;
text-align: center;
letter-spacing: 0.3em;
text-transform: uppercase;
color: #FFFFFF;
}

.span_nado{
position: absolute;
width: 387px;
height: 115px;
left: 663px;
top: 435px;
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 100px;
line-height: 115%;
text-align: right;
letter-spacing: 0.3em;
text-transform: uppercase;
color: #FFFFFF;
}


.description{
position: absolute;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
left: 50px;
top: 668px;
padding-right: 50px;
box-sizing: border-box;
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 28px;
text-transform: uppercase;
color:#FFFFFF;
margin: 0;
}

.bet-button{
box-sizing: border-box;
position: absolute;
width: 256px;
height: 51px;
margin-left: 744px;
bottom:0.1px;
opacity: 1;
text-transform: uppercase;
border: 1px solid #FFFFFF;
}

.text-button{
font-family: 'Raleway', sans-serif;
font-weight: 400;
font-style: Medium;
font-size: 22px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}


.lots{
position: absolute;
width: 1052px;
height: 723px;
top:1230px;
left:24px;
}

.lot{
display: flex;
flex-direction: column;
justify-content: space-between;
gap: 30px;
width: auto;
height: 100%;
}

.lots__title{
width: 121px;
height: 47px;
left: 40px;
font-weight: bold;
font-family: 'Raleway', sans-serif;
font-size: 40px;
line-height: 100%;
text-transform: uppercase;
margin: 0 0 27px 40px;
}

.lots_card-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin: 0 0 30px;
  padding: 0;
}

.lots__card-list-item{
min-height: 563px;
}

.lot{
position: relative;
display: flex;
flex-direction: column;
justify-content: space-between;
width: 100%;
height: 100%;
}

.lot_image{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

.card-content{
position: relative;
display: flex;
flex-direction: column;
justify-content: space-between;
z-index: 1;
gap: 30px;
height: 100%;
padding: 50px 40px;
}

.card_type_film{
position: absolute;
width: 334px;
height: 596px;
background-image: url(../images/card-lot-01.jpg);
background-repeat: no-repeat;
}

.card_title{
color: #FFFFFF;
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-style: bold;
font-size: 22px;
line-height: 120%;
text-decoration: underline;
text-transform: uppercase;
margin: 0;
} 

.card_text{
color:#FFFFFF;
position: absolute;
font-family: 'Raleway', sans-serif;
font-weight: 400;
font-size: 20px;
line-height: 120%;
width: 254px;
height: 144px;
top:404px;
left: 40px;
}

.card_text_book{
color:#FFFFFF;
position: absolute;
font-family: 'Raleway', sans-serif;
font-weight: 400;
font-size: 20px;
line-height: 120%;
width: 254px;
height: 360px;
top:188px;
left: 40px;
}

.card_text_pic{
color:#FFFFFF;
position: absolute;
font-family: 'Raleway', sans-serif;
font-weight: 400;
font-size: 20px;
line-height: 120%;
width: 254px;
height: 360px;
top:284px;
left: 40px;
}

.card_type_book{
position: absolute;
width: 334px;
height: 596px;
background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture{
 position: absolute;
width: 334px;
height: 596px;
background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link{
position: absolute;
width: 192px;
height: 25px;
top: 690px;
left: 30px;
font-family: 'Raleway', sans-serif;
font-weight: 400;
font-size: 20px;
line-height: 100%;
text-decoration: underline;
}

.lot_overlay{
z-index: 0;
position: absolute;
width: 334px;
height: 596px;
background-color: black;
opacity: 0.6;
}

.about{
position: absolute;
top: 2073px;
left: 71px;
display: grid;
grid-template-columns: 240px, 1fr;
gap:24px;
max-width: 1100px;
height: 595px;
box-sizing: border-box;
align-items: start;
padding: 0 50px;
}

.about_logo {
display: flex;
justify-content: center;
align-items: center;
width: 240px;
height: 240px;
border-radius: 50%;
background-color: #000000;
}

.about_logo-image{
width: 148px;
height: 114px;
}

.about_column{
display: flex;
justify-content: center;
align-items: center;
width: 693px;
height: 449px;
position: absolute;
top: 100px;
left: 300px;
}

.about_title {
font-family: 'Raleway', sans-serif;
font-size: 40px;
font-weight: 700;
line-height: 47px;
text-transform: uppercase;
margin: 0 0 100px 0 ;
line-height: 1.0;
}

.description_block{
display: flex;
flex-direction: column;
gap: 25px;
}

.text{
font-family: 'Raleway', sans-serif;
font-size: 20px;
line-height: 1.2;
margin: 0;
}

.footer{
position: absolute;
width: 1100px;
height: 180px;
left: 0px;
top: 2848px;
display: grid;
grid-template-columns: 1fr, auto, 1fr;
align-items: start;
max-width: 1100px;
height: 180px;
padding: 0 50px;
box-sizing: border-box;
}

.footer_address{
position: absolute;
width: 264.57px;
height: 98px;
left: 50px;
justify-self: start;
margin: 0;
padding-bottom: 80px;
}

.footer_menu{
justify-self: center;
}

.footer_menu-list {
list-style: none;
text-align: center;
margin: 0;
padding: 0;
}

.footer_menu-list-item {
margin-bottom: 10px;
}

.footer_menu-link {
font-size: 18px;
line-height: 21px;
text-decoration: underline;
text-underline-position: under;
color: #000000;
}

.footer_menu-link_active {
text-decoration: none;
}

.footer_social-list {
position: absolute;
display: flex;
width: 240px;
gap: 48px;
list-style: none;
margin: 0;
padding: 0;
justify-self: end;
}

.footer_social-icon {
width: 48px;
height: 48px;
}/* место для вашего кода */
